<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408585678188-5iluc9v8m9ks82akh64d29q8u7in9igl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408585678188-5iluc9v8m9ks82akh64d29q8u7in9igl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>408585678188-5pjm3eoppulv8s1gan2j1pqdiermnr0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAS_AxhUr5FD-JUA6vkWVBOV6iSq15MNs</string>
	<key>GCM_SENDER_ID</key>
	<string>408585678188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Hypr</string>
	<key>PROJECT_ID</key>
	<string>hypr-307515</string>
	<key>STORAGE_BUCKET</key>
	<string>hypr-307515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408585678188:ios:2a10552bcde757e2651749</string>
</dict>
</plist>